/* menu */
.main-cont {
    min-height: 100vh;
    background: url(https://cdn.fstoppers.com/styles/large-16-9/s3/lead/2017/09/howtomakeareel_3.jpg);
    background-size: cover;
}
nav {
    background: rgba(0,0,0,0.8);
}
nav .logo img {
    width: 133px;
    transform: translateY(-15px);
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

i {
    font-size: 2rem;
}

.search {
    width: 44%;
}

.search input {
    height: 48px;
}

.search i {
    font-size: 1.6rem;
}

.profile-pic i {
    font-size: 2.5rem;
}

.profile-pic p {
    transform: translateY(-15px);
}
/*** menu breakpoints ***/
/* menu buttons */
@media (max-width: 1559px) {
    .menu {
        width: 29%;
    }
}

/* search bar */
@media (max-width: 991px) {
    .search {
        width: 100%;
    }
}
/**/
/* not logged in home*/
.register-home {
    height: 100%;
}
.register-home h2 {
    max-width: 24rem;
    font-weight: bold;
    font-size: 2.3rem;
    text-align: center;
}
.register-home h3 {
    font-weight: lighter;
    font-size: 1.6rem;
}
.register-home h4 {
    font-weight: lighter;
    font-size: 1rem;
}
.register-home button {
    font-size: 1.5rem;
    font-weight: lighter;
    width: 17rem;
    height: 3rem;
    background: rgba(0,0,0,0.6);
}
.register-home form {
}
.register-home input {
    height: 3rem;
}
/* videos */
.videos {
    padding: 43px;
}
.videos h2 {
    font-size: 1.2rem;
    font-weight: bold;
}
.pic-container {
    position: relative;
}
.caption {
    position: absolute;
    width: 250px;
    height: 230px;
}
.caption * {
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.9), 
    2px 0 3px rgba(0, 0, 0, 0.9), 
    0 2px 3px rgba(0, 0, 0, 0.9),
    5px 0 3px rgba(0, 0, 0, 0.9), 
    0 5px 3px rgba(0, 0, 0, 0.9),
    -2px 0 3px rgba(0, 0, 0, 0.9), 
    0 -2px 3px rgba(0, 0, 0, 0.9),
    -5px 0 3px rgba(0, 0, 0, 0.9), 
    0 -5px 3px rgba(0, 0, 0, 0.9)
    ;
}
/* drama */
/*footer*/
footer {
    padding: 2rem;
    background: rgba(0,0,0,0.8)
}
footer h3{
    font-size:1rem;
}
footer img {
    width: 6rem;
    transform: translateY(-1rem);
}
