/*side menu*/
.searchMenu {
    width: 15rem;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.searchMenu.fixed {
    position: fixed;
}
/*menu elements*/
.searchMenu .mainHeader {
    padding-left: 0.4rem;
    border-bottom: 0 !important;
}
.searchMenu .mainHeader h3 {
    font-size: 1.1rem;
    transform: translateY(1rem);
    font-weight: bold;
}
.searchMenu .mainHeader i.bi-caret-left-square-fill {
    font-size: 1.4rem;
    transform: translateY(0.35rem);
}
.searchMenu .subHeader {
    padding-left: 0.4rem;
    border-bottom: 0 !important;
}
.searchMenu .subHeader i.bi-dash-square {
    font-size: 1.2rem;
}
.searchMenu h4 {
    font-size: 0.9rem;
    transform: translateY(0.2rem);
    font-weight: bold;
}
.sideForm {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-bottom: 0.4rem;
    border-bottom: 0 !important;
    font-size: 0.8rem;
}
.sideForm.last {
    border: 1px solid white !important;
    padding-bottom: 0.65rem;
}
.searchMenu input[type='checkbox']{
    width: 1rem;
    height: 1rem;
    margin-left:0rem;
   
}
.searchMenu input[type='text'] {
    box-sizing: border-box;
    width: calc(100% - 0.6rem);
    margin:0.3rem;
    margin-left: 0;
}
.searchMenu .tagEl {
    padding: 0.15rem;
    margin: 0.1rem;
}
.searchMenu .tagEl span{
    margin-right: 0.6rem;
    font-size: 0.7rem;
}
.searchMenu .tagEl button{
    font-size: 0.5rem;
    align-self: center;
}
/* end menu elements */
.searchMenu.collapse {
    width: 0px;
    display: block;
}

.blk_bg {
    background: rgba(0, 0, 0, 0.8);
}

.searchResults {
    padding-top: 4.25rem !important;
}

@media only screen and (max-width: 992px) {
    .searchResults {
        padding-top: 2.94rem !important;
    }
}

.toggleSearch {
    height: 3.3rem;
    width: 3rem;
    text-align: center;
    cursor: pointer;
    left:14.9rem;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    z-index: 2;
    border-left: 2px solid black !important;
    top: 16.3rem;
}
.collapse .toggleSearch {
    left: 0rem;
}

.bi-gear::before {
    vertical-align: top;
    transform: translateY(0.65rem);
}
/*Movies*/
.m-card {
    box-sizing: border-box;
    width: calc(33% - 2rem);
    position: relative;
    margin: 1rem;
}
.expanded .m-card {
    width: calc(25% - 2rem);
}
.m-card img {
    width: 100%;
}
/* movies caption*/
.m-card .m-info {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
/*footer*/
.searchFooter {
    box-sizing: border-box;
    width: calc(100vw - 0.8rem);
}
/* movies list media queries*/
@media (max-width: 991px) {
    .m-card {
        width: calc(50% - 2rem);
    }
    .expanded .m-card {
        width: calc(33% - 2rem);
    }
}
@media (max-width: 870px) {
    .expanded .m-card {
        width: calc(50% - 2rem);
    }
}
@media (max-width: 650px) {
    .m-card {
        width: calc(100% - 2rem);
    }
    .expanded .m-card {
        width: calc(100% - 2rem);
    }
}